body{
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
	display: inline-block;
	height: 50px;
	margin: 0 auto;
}

a {
	text-decoration: none;
	display: inline;
}

li {
	display: inline-block;
	background-color: #F9DEC9;
	width: 75px;
	line-height: 50px;
	margin: 0 auto;
}

li:hover {
	background-color: #E9AFA3;
}

.topnav{
	background-color: #F9DEC9;
	width: 100%;
	display: inline-block;
	text-align: center;
	height: 50px;
	border-bottom: 10px;
	border-color: red;
}

.center{
	display: inline;
}

.leftMenu{
	width: 12%;
	line-height: 100px;
	display: block;
	float: left; 
	background-color: #F9DEC9;
	height: 100%;
	text-align: center;
}

.leftMenuText {
	display: block;
	padding: 0;

}

.leftI {
	width: 100%;
}

.navbar {
	padding: 0;
}

.content {
	display: inline-block;
	width: 88%;

}

.contentImageDiv {
	padding: 5% 0 5% 0;
	margin: 0 auto;
}

.contentImage {
	margin: auto;
	padding: auto;
}

.contentText {
	padding: 25px;
}

.footer{
	background-color: #3A405A;
	height: 100px;
	margin: 0;
	padding: 25px;
}

.footerText {
	color: white;
}